body {
    color: powderblue;
    background-color: darkslateblue;
    margin: 50px 100px;
    font-family: Verdana, sans-serif;
}

.header {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.content {
  text-align: justify;  
}

.topnavbar li {
    display: inline;
}

.topnavbar a:link, a:visited {
    background-color: grey;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.topnavbar a:hover, a:active {
    background-color: lightgrey;
}

a {
    color: yellowgreen;  
}

a:visited {
    color: orange;  
}

a:hover {
    color: white;   
}

a:active {
    color: cyan;   
}

li {
    color: pink;
}

.footer {
    text-align: center;
    font-size: 10pt;
}