body {
    background-color: steelblue;
    color: white;
    font-family: Verdana;
}

a {
    color: gold;  
}

a:visited {
    color: hotpink;  
}

a:hover {
    color: greenyellow;   
}

a:active {
    color: turquoise;   
}

h1 {
    color: greenyellow;  
}

h2 {
    color: turquoise;
}

li {
    color: goldenrod;
}
