body {
    color: darkslategray;
    background-color: ghostwhite;
    margin: 50px 80px 50px 80px;
    font-family: Verdana, sans-serif;
}

.header {
    font-family: Georgia, serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.content {
  text-align: justify;  
  padding: 40px;
}

.topnavbar li {
    display: inline;
}

.topnavbar a:link, a:visited {
    background-color: grey;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.topnavbar a:hover, a:active {
    background-color: lightgrey;
}


a {
    color: blue;  
}

a:visited {
    color: orange;  
}

a:hover {
    color: black;   
}

a:active {
    color: turquoise;   
}


h2 {
    color: dimgrey;
}

h3 {
    color: lightslategrey;
}

li {
    color: slateblue;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid midnightblue;
}

th {
    background-color: midnightblue;
    color: lightgrey;
}

tr:nth-child(even) {background-color: powderblue}

.footer {
    text-align: center;
}
