body {
    color: #373737;
    background-color: aliceblue;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
    font-family: Verdana, sans-serif;
}

h1 {
    color: white;
    background-color: plum;
    font-family: "Sofia", Georgia, serif;
    font-weight: bold;
    text-align: center;
}

a {
    color: royalblue;  
}

a:visited {
    color: lightskyblue;  
}

a:hover {
    color: black;   
}

a:active {
    color: turquoise;   
}

h2 {
    color: dimgrey;
}

h3 {
    color: lightslategrey;
}

li {
    color: slateblue;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid midnightblue;
}

th {
    background-color: midnightblue;
    color: honeydew;
}

tr:nth-child(even) {background-color: powderblue}

.footer {
    color: purple;
}

.date {
    color: tomato;
}
