body {
    background-color: floralwhite;
    color: saddlebrown;
    font-family: Verdana;
}

a {
    color: gold;  
}

a:visited {
    color: hotpink;  
}

a:hover {
    color: greenyellow;   
}

a:active {
    color: turquoise;   
}

h1 {
    color: darkslategrey;  
}

h2 {
    color: teal;
}

h3 {
    color: plum;
}

li {
    color: goldenrod;
}

.footer {
    color: purple;
}

.date {
    color: plum; /* tan */
}
