body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 120px;
    margin-left: 80px;
    font-family: Verdana, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Sofia", Georgia, serif;
    font-weight: bold;
}

.topnav {
    background-color: lightblue;  
    border:2px solid black;
}

.topnav li {
 
 display: inline;
   
}

.topnav a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.topnav a:hover, a:active {
    background-color: red;
}

.header
{
    background-color: plum;   
    border:2px solid black;
    border-radius: 5px;
}

.main {
    background-color: lightgrey; 
    border:5px solid blue;
    border-radius: 10px;
} 

.article {
  text-align: justify;  
  padding: 50px;
  color: white;
  background-color: plum;
}

.footer {
    background-color: lightgreen;
    color: black;
    border:2px solid black;
    border-radius: 5px;
}

.note {
    background-color: lightblue;
    color: black;
    border-left:10px solid red;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    color: tomato;
}
